:root {
    --color-dark: #000000;
    --color-dark-alternative: #151515;
    --color-light: #ffffff;
    --color-light-alternative: #f0f0f0;

    --border: 1px solid var(--color-dark-alternative);
    --border-alternative: 1px solid var(--color-light);

    --height: 52px;
    --height-small: 38px;

    --font-family: 'Neue-Machina', sans-serif;

    --container-width: 1512px;
    --container-width-medium: 1310px;
    --container-padding-x: 16px;
    --container-padding-y: 50px;

    --transition-duration: 0.2s;
}

body {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 26px;
    color: var(--color-dark-alternative);
    background-color: var(--color-light-alternative);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

button,
input {
    border: none;
    padding: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-light) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-block: var(--container-padding-y);
}

.section__inner {
    display: flex;
    justify-content: space-between;
}

.section__inner.reverse {
    flex-direction: row-reverse;
}

.section__body {
    max-width: 750px;
    z-index: 1;
}

.article__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    list-style-type: square;
    margin-left: 35px;
}

.article__item {
    padding-left: 20px;
    color: currentColor;
}

.article__item::marker {
    font-size: 30px;
}

.category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    height: var(--height-small);
    padding-inline: 20px;
    display: inline-flex;
    align-items: center;
    border: var(--border);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.button {
    height: var(--height);
    padding-inline: 20px;
    display: inline-flex;
    align-items: center;
    background-color: var(--color-dark-alternative);
    color: var(--color-light-alternative);
    text-wrap: nowrap;
}

.button:hover {
    background-color: var(--color-light);
    color: var(--color-dark-alternative);
}

.button.light {
    background-color: var(--color-light);
    color: var(--color-dark-alternative);
}

.button.light:hover {
    background-color: var(--color-dark-alternative);
    color: var(--color-light-alternative);
}

.button.center {
    justify-content: center;
}

.input {
    height: var(--height);
    padding-inline: 20px;
    background-color: var(--color-light);
}

.logo {
    flex-shrink: 0;
    mix-blend-mode: multiply;
}

.description {
}

.description__little {
    font-size: 18px;
    line-height: 26px;
}

.title {
}

.title__medium {
    font-size: 28px;
    letter-spacing: -1.4px;
    line-height: 28px;
}

.title__big {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3px;
}

.title__big-extra {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -4px;
}

.title__mega {
    font-size: 80px;
    line-height: 1;
    letter-spacing: -4px;
    font-weight: 800;
}

.title__mega :is(sub, sup) {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    text-wrap: nowrap;
    white-space: nowrap;
}

/* HEADER  */

.header {
    padding-block: 32px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo-link:not(:last-child) {
    margin-right: 30px;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    gap: 40px;
}

.header__menu-link {
    padding: 10px;
    flex-wrap: nowrap;
}

.header__menu-link:hover {
    color: #ee4d4d;
}

.header__button:not(:last-of-type) {
    margin-right: 20px;
}

.header__button-burger {
    display: none;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.header__menu-mobile {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 0;
    right: 0;
    top: 0;
    background-color: var(--color-dark-alternative);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transition: 0.4s;
}

.header__menu-mobile-list {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    letter-spacing: 2px;
    position: relative;
}

.header__menu-mobile-link {
    color: var(--color-light);
    font-size: 35px;
    display: block;
    text-wrap: nowrap;
    white-space: nowrap;
}

.header__menu-mobile-link:hover {
    color: #ee4d4d;
}

.header__menu-mobile-line {
    width: 80%;
    background-color: var(--color-light-alternative);
    height: 2px;
}

.header__close-button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 40px;
}

.header__close-button-image {
    height: 100%;
    width: 100%;
}

.header__button-burger-line {
    background-color: var(--color-dark-alternative);
    height: 2px;
    width: 28px;
}

/* WELCOME */

.welcome__inner {
    display: flex;
    justify-content: space-between;
}

.welcome__body {
    max-width: 720px;
}

.welcome__title:not(:last-child) {
    margin-bottom: 20px;
}

.welcome__description:not(:last-child) {
    margin-bottom: 40px;
}

.welcome__form {
    max-width: 505px;
    display: flex;
}

.welcome__form:not(:last-child) {
    margin-bottom: 80px;
}

.welcome__input {
    width: 100%;
}

.welcome__partners {
    display: flex;
    column-gap: 28px;
    align-items: center;
}

.image__wrapper.right {
    margin-right: -50px;
}

.image__wrapper.left {
    margin-left: -90px;
}

.image__wrapper img {
    height: auto;
}

/* ABOUT US */

.about-us__category:not(:last-child),
.how-it-works__category:not(:last-child),
.pricing__category:not(:last-child),
.faqs__category:not(:last-child) {
    margin-bottom: 40px;
}

.about-us__title:not(:last-child),
.pricing__title:not(:last-child),
.faqs__title:not(:last-child) {
    margin-bottom: 20px;
}

.about-us__description:not(:last-child),
.faqs__description:not(:last-child) {
    margin-bottom: 60px;
}

/* HOW-IT-WORKS */

.how-it-works__title {
    margin-bottom: 60px;
}

.how-it-works__list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.how-it-works__list-title:not(:last-child) {
    margin-bottom: 16px;
}

.how-it-works__item {
    display: flex;
}

.how-it-works__item-image {
    height: 76px;
}

.how-it-works__item-body {
    padding-left: 28px;
}

/* PRICING */

.pricing__inner {
    display: flex;
    flex-direction: column;
}

.pricing__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.pricing__body {
    text-align: right;
}

.pricing__card-price {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-alternative);
    color: var(--color-light);
}

.pricing__card-price.transparent {
    background: none;
    color: var(--color-dark-alternative);
    border: var(--border);
}

.pricing__card-price.light {
    background-color: var(--color-light);
    color: var(--color-dark-alternative);
}

.pricing__body-title {
    margin-bottom: 20px;
}

.pricing__body-title :is(sup, sub) {
    font-size: 0.25em;
}

.pricing__description {
    margin-bottom: 60px;
}

.pricing__list {
    flex: 1;
    font-size: 18px;
    margin-bottom: 80px;
    margin-left: 25px;
}

.pricing__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

/* FAQS */

.faqs__item {
    padding-block: 20px;
}

.faqs__item:not(:last-child) {
    border-bottom: var(--border);
}

.faqs__item h4 {
    margin: 0;
}

.faqs__accordion {
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    position: relative;
    padding-right: 20px;
    transition: 0.3s;
}

.faqs__accordion::after {
    content: '';
    position: absolute;
    padding: 4px;
    top: 6px;
    right: 0;
    background: url('../images/icons/general/plus.svg') center / contain
        no-repeat;
    width: 16px;
    aspect-ratio: 1;
}

.faqs__accordion.active::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    background: url('../images/icons/general/minus.svg') center / contain
        no-repeat;
    width: 16px;
}

.faqs__panel {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.faqs__panel.active {
    transition: 0.3s;
    max-height: fit-content;
    padding-top: 20px;
}

@media (max-width: 1440px) {
    .container {
        max-width: var(--container-width-medium);
    }

    .pricing__content {
        column-gap: 20px;
    }
}

@media (max-width: 1244px) {
    .welcome__body {
        max-width: 619px;
    }
    .section__body {
        max-width: 570px;
    }
}

@media (max-width: 1143px) {
    .welcome__body {
        position: relative;
    }

    .section__body {
        position: relative;
    }

    .image__wrapper.right,
    .image__wrapper.left {
        position: absolute;
        right: 0;
    }

    .pricing__body {
        text-align: unset;
    }
}

@media (max-width: 1024px) {
    .header {
        padding-block: clamp(20px, 3.13vw, 32px);
    }

    .title__big-extra {
        font-size: clamp(52px, 6.82vw, 70px);
        line-height: clamp(60px, 5.86vw, 80px);
    }

    .title__big {
        font-size: clamp(44px, 5.85vw, 60px);
        line-height: clamp(56px, 5.85vw, 60px);
    }

    .welcome__form:not(:last-child) {
        margin-bottom: 40px;
    }

    .pricing__image-wrapper {
        bottom: 0;
        z-index: -2;
    }

    .pricing__card-price {
        padding: 40px 20px;
    }

    .pricing__list {
        margin-bottom: 40px;
    }

    .pricing__item {
        padding-left: 10px;
    }

    .pricing__body-title {
        font-size: clamp(50px, 7.81vw, 80px);
    }

    .pricing__body-title span {
        display: none;
    }
}

@media (max-width: 846px) {
    .header__logo-link:not(:last-child) {
        margin-right: 8px;
    }

    .header__menu-list {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .header__inner {
        justify-content: space-between;
    }

    .header__menu,
    .header__button {
        display: none;
    }

    .header__button-burger {
        display: flex;
    }

    .image__wrapper {
        display: none;
    }
    .section__body,
    .welcome__body {
        max-width: 100%;
    }

    .how-it-works__item {
        flex-direction: column;
    }

    .how-it-works__item-image {
        margin-bottom: 32px;
    }

    .how-it-works__item-body {
        padding: 0;
    }

    .pricing__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 700px);
        row-gap: 20px;
    }

    .pricing__body-title {
        font-size: 80px;
    }
}
