:root {
    --color-dark: #000000;
    --color-dark-alternative: #151515;
    --color-light: #ffffff;
    --color-light-alternative: #f0f0f0;

    --border: 1px solid var(--color-dark-alternative);
    --border-alternative: 1px solid var(--color-light);

    --height: 52px;
    --height-small: 38px;

    --font-family: 'Neue-Machina', sans-serif;

    --container-width: 1512px;
    --container-width-medium: 1310px;
    --container-padding-x: 16px;
    --container-padding-y: 50px;

    --transition-duration: 0.2s;
}

body {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 26px;
    color: var(--color-dark-alternative);
    background-color: var(--color-light-alternative);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

button,
input {
    border: none;
    padding: 0;
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-block: var(--container-padding-y);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.button {
    height: var(--height);
    padding-inline: 20px;
    display: inline-flex;
    align-items: center;
    background-color: var(--color-dark-alternative);
    color: var(--color-light-alternative);
    text-wrap: nowrap;
}

.button:hover {
    background-color: var(--color-light);
    color: var(--color-dark-alternative);
}

.button.light {
    background-color: var(--color-light);
    color: var(--color-dark-alternative);
}

.button.light:hover {
    background-color: var(--color-dark-alternative);
    color: var(--color-light-alternative);
}

.input {
    height: var(--height);
    padding-inline: 20px;
    background-color: var(--color-light);
}

.logo {
    flex-shrink: 0;
    mix-blend-mode: multiply;
}

.description {
}

.title {
}

.header {
    padding-block: 32px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo-link:not(:last-child) {
    margin-right: 30px;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    gap: 40px;
}

.header__menu-link {
    padding: 10px;
    flex-wrap: nowrap;
}

.header__menu-link:hover {
    color: #ee4d4d;
}

.header__button:not(:last-of-type) {
    margin-right: 20px;
}

.header__button-burger {
    display: none;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.header__menu-mobile {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 0;
    right: 0;
    top: 0;
    background-color: var(--color-dark-alternative);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transition: 0.4s;
}

.header__menu-mobile-list {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    letter-spacing: 2px;
    position: relative;
}

.header__menu-mobile-link {
    color: var(--color-light);
    font-size: 35px;
    display: block;
    text-wrap: nowrap;
    white-space: nowrap;
}

.header__menu-mobile-link:hover {
    color: #ee4d4d;
}

.header__menu-mobile-line {
    width: 80%;
    background-color: var(--color-light-alternative);
    height: 2px;
}

.header__close-button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 40px;
}

.header__close-button-image {
    height: 100%;
    width: 100%;
}

.header__button-burger-line {
    background-color: var(--color-dark-alternative);
    height: 2px;
    width: 28px;
}

.welcome__inner {
    display: flex;
    justify-content: space-between;
}

.welcome__body {
    max-width: 720px;
}

.welcome__title:not(:last-child) {
    margin-bottom: 20px;
}

.title__big-extra {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -4px;
}

.welcome__description:not(:last-child) {
    margin-bottom: 40px;
}

.welcome__form {
    max-width: 505px;
    display: flex;
}

.welcome__form:not(:last-child) {
    margin-bottom: 80px;
}

.welcome__input {
    width: 100%;
}

.welcome__partners {
    display: flex;
    column-gap: 28px;
    align-items: center;
}

.welcome__image-wrapper.right {
    margin-right: -50px;
}

.welcome__image-wrapper.left {
    margin-left: -50px;
}

.welcome__image {
    height: auto;
}

@media (max-width: 1440px) {
    .container {
        max-width: var(--container-width-medium);
    }
}

@media (max-width: 1244px) {
    .welcome__body {
        max-width: 619px;
    }
}

@media (max-width: 1143px) {
    .welcome__body {
        position: relative;
        z-index: 1;
    }

    .welcome__image-wrapper {
        position: absolute;
        right: 0;
    }
}

@media (max-width: 1024px) {
    .section {
        padding-block: clamp(20px, 4.88vw, var(--container-padding-y));
    }

    .header {
        padding-block: clamp(20px, 3.13vw, 32px);
    }

    .title__big-extra {
        font-size: clamp(52px, 6.82vw, 70px);
        line-height: clamp(60px, 5.86vw, 80px);
    }

    .welcome__form:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-width: 846px) {
    .header__logo-link:not(:last-child) {
        margin-right: 8px;
    }

    .header__menu-list {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .header__inner {
        justify-content: space-between;
    }

    .header__menu,
    .header__button {
        display: none;
    }

    .header__button-burger {
        display: flex;
    }

    .welcome__image-wrapper {
        display: none;
    }
}
